<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
  <center> 
  <h1><blink> Welcome to room lottery</blink></h1>
  <h2> Insert your family name and the room will be picked for you automatically</h4>
  <h3>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="name">Password to flush the db:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="What's the password?">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
  </h3>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                {% for item in message[1].split('\n'): %}
                    <h4>{{ item }}</h4>
                {% endfor %}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                <h4> {{ message[1] }} </h4>
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
  </center> 
 
</div>
<br>      
</div>
</div>
</body>
</html>
